<header class="cols-2 header">
  <strong class="logo">
    GromMax
  </strong>
  <span class="header-title">
    Бери и делай
  </span>
</header>

<main>
  <section class="banner cols-2">
    <div class="banner-text">
      <h2>Бери и делй</h2>
      <p>Если в день читать 5 стр книг по программированию, то через год прочну 3-4 книги. Половина IT не читали и трех книг. Что сделает умнее чем 50% конкурентов.</p>
    </div>
    <div class="banner-image">
      <img src="/assets/images/banner.jpg" alt="Если ты успешен, то ты успешен">
    </div>
  </section>

  <section class="cv-wrapper cols-2">
    <div class="cv-create">
      <form action="#" class="cv-create-form">
        <h3 class="cv-header">Создай свой CV</h3>
        <div class="row">
          <input class="text-input" type="text" name="name" placeholder="выбери название свего CV">
        </div>
        <div class="row">
          <textarea class="textarea-input" name="comment" placeholder="comment" cols="30" rows="5"></textarea>
        </div>
        <div class="row">
          <button class="button">Начать</button>
        </div>
      </form>
    </div>
    <div class="cv-list">
      <h3 class="cv-header">Мои CV</h3>
      <ul>
        <li class="cols-2 cv-item">
          <p class="cv-title">Воспитатель</p>
          <ul class="actions">
            <li class="action">
              <a href="#" class="action-link">Просмотреть</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Редактировать</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Удалить</a>
            </li>
          </ul>
        </li>
        <li class="cols-2 cv-item">
          <p class="cv-title">Кинолог</p>
          <ul class="actions">
            <li class="action">
              <a href="#" class="action-link">Просмотреть</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Редактировать</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Удалить</a>
            </li>
          </ul>
        </li>
        <li class="cols-2 cv-item">
          <p class="cv-title">JS dev</p>
          <ul class="actions">
            <li class="action">
              <a href="#" class="action-link">Просмотреть</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Редактировать</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Удалить</a>
            </li>
          </ul>
        </li>
        <li class="cols-2 cv-item">
          <p class="cv-title">Мистер проппер</p>
          <ul class="actions">
            <li class="action">
              <a href="#" class="action-link">Просмотреть</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Редактировать</a>
            </li>
            <li class="action">
              <a href="#" class="action-link">Удалить</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</main>

<footer class="cols-2 footer">
  <strong class="logo">
    GromMax
  </strong>
  <span class="header-title">
    Бери и делай
  </span>
</footer>

<router-outlet></router-outlet>
